name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: install uv
        run: pip install --upgrade pip && pip install uv

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}'

      - name: set up google cloud sdk
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: "fdua-competition"

      - name: verify authentication
        run: gcloud auth list 

      - name: set FDUA_DIR globally
        run: echo "FDUA_DIR=$(pwd)" >> $GITHUB_ENV

      - name: install app
        env:
          FDUA_DIR: ${{ env.FDUA_DIR }}
        run: make install

      - name: test
        env: 
          FDUA_DIR: ${{ env.FDUA_DIR }}
          AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}
          OPENAI_API_VERSION: ${{ secrets.OPENAI_API_VERSION }}
          AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
        run: make test

      - name: run
        env: 
          FDUA_DIR: ${{ env.FDUA_DIR }}
          AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}
          OPENAI_API_VERSION: ${{ secrets.OPENAI_API_VERSION }}
          AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
        run: make run

      - name: evaluate 
        env: 
          FDUA_DIR: ${{ env.FDUA_DIR }}
          AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}
          OPENAI_API_VERSION: ${{ secrets.OPENAI_API_VERSION }}
          AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
        run: make evaluate

      - name: summarize result
        run: make summarize-result